body {
    background: linear-gradient(#2d2d2d, #636363);
    padding: 0;
    margin: 0;
    height: 100%;
}

main, header, footer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
}

header {
    margin-bottom: 80px;
    padding-top: 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main {
    padding-top: 80px
}

footer {
    margin-top: 90px;
    padding-bottom: 20px;
    color: #fff;
}

.logo {
    width: 531px;
}

.present-icon {
    width: 235px;
}

.grid {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    grid-gap: 0;
    justify-content: center;
    row-gap: 150px;
}

.item.door {
    background-color: #444;
    height: 190px;
    width: 190px;
    transform: rotate(45deg);
    box-shadow: 10px 10px 15px #000;
    text-align: center;
    outline: 1px #fff solid;
}
.item.door.special {
    width: 210px;
    height: 210px;
    /* margin-left: -10px; */
}

.item.door.even {
    margin-left: 25px;
}

.text {
    color: #999;
    display: table-cell;
    height: 190px;
    width: 190px;
    vertical-align: middle;
    transform: rotate(-45deg);
}
.text img {
    max-width: 100%;
    width: 90px;
}
.special .text {
    width: 210px;
    height: 210px;
}